@import "tailwindcss";

@theme {
  --color-background: #1f1f1f;
  --color-textBlack: #2a2d2a;
  --color-black100: #3d3d3d;
  --color-black150: #343434;

  --color-primary200: #1ec537;
  --color-primary100: #29f147;
  --color-primary80: #63f078;
  --color-primary60: #82f193;

  --color-secondary200: #15CDC4;

  --color-grey120: #999191;
}

body {
  background-color: #1f1f1f;
  color: white;
}

